/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background: #031d2a;
  color: white;
  font-family: "Myriad Pro";
  font-size: 13pt; }
  @media (min-width: 76.5em) {
    body {
      font-size: 15pt; } }

h1, h2, h3, h4, h5 {
  color: #a8c618;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.25); }

h1 {
  font-size: 2.25em;
  margin-bottom: 1em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.75em;
  margin-bottom: 0.575em; }

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }

h5 {
  font-size: 1.25em;
  margin-bottom: 0.5em; }

p {
  font-family: "Minion Pro";
  line-height: 1.4;
  margin-bottom: 1em; }

a {
  text-decoration: none;
  color: #00b4ff; }
  a:hover {
    color: #a8c618; }

img {
  max-width: 100%;
  height: auto; }

.large {
  font-size: 1.33em;
  line-height: 1; }

.button {
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  display: inline-flex;
  font-size: 0.8em;
  background: #031d2a;
  color: white;
  line-height: 1;
  padding: 0.6em 2em 0.45em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5em; }
  .button:hover {
    background: #a8c618;
    color: white; }
  .button.button-primary {
    background: #00b4ff; }
    .button.button-primary:hover {
      background: #ff7e00; }
  .button.button-cta {
    background: #ff7e00; }
    .button.button-cta:hover {
      background: #00b4ff; }
  .button.button-normal {
    background: #a8c618; }
    .button.button-normal:hover {
      background: #00b4ff; }

.nav {
  display: flex;
  padding: 0 5%;
  text-align: center;
  flex-direction: column; }
  @media (min-width: 48em) {
    .nav {
      flex-direction: row;
      align-items: center;
      text-align: left; } }
  .nav li {
    padding: 1em; }
    .nav li.home {
      flex-grow: 1;
      padding: 1em 0; }
    @media (min-width: 48em) {
      .nav li:last-child {
        padding: 1em 0 1em 1em; } }
  .nav a {
    color: white;
    font-weight: bold;
    text-transform: uppercase; }
    .nav a:hover {
      color: #00b4ff; }

.hero-home {
  text-align: center;
  width: 100%;
  height: 90vh;
  min-height: 36.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  background: url(../images/home-hero.jpg) 50% 50% no-repeat;
  background-size: cover; }
  .hero-home .content {
    width: 100%;
    padding: 0 5%;
    text-align: center; }
  .hero-home .intro {
    margin: 0 auto 1em;
    font-size: 1.875em;
    font-style: italic;
    max-width: 22em; }
  .hero-home .button {
    font-size: 1.25em; }

.home-content {
  background: url(../images/topo-white.png) 50% 50% repeat #031d2a;
  background-size: auto;
  padding-bottom: 1em; }

.mission {
  overflow: hidden;
  *zoom: 1;
  padding: 2em 5% 1em;
  margin: 0 auto;
  max-width: 50em; }
  @media (min-width: 76.5em) {
    .mission {
      padding: 3em 5% 3em; } }
  .mission img {
    display: block;
    margin: 0 auto 1em;
    max-width: 6em; }
    @media (min-width: 48em) {
      .mission img {
        float: left;
        width: 30%;
        margin: 0 5%; } }
  @media (min-width: 48em) {
    .mission p {
      padding-top: 3em;
      margin-left: 10%; } }

.callouts {
  display: flex;
  flex-direction: column;
  margin: 2em 0; }
  @media (min-width: 48em) {
    .callouts {
      flex-direction: row;
      padding: 0 5%;
      margin: 2em 0; } }
  .callouts .callout {
    text-align: center;
    margin-bottom: 2em;
    padding: 0 5%; }
    .callouts .callout img {
      margin-bottom: 0.5em; }
    @media (min-width: 48em) {
      .callouts .callout {
        width: 33.3333%;
        padding: 0 1.5%; } }

.page-content {
  background: white;
  color: #1e1e1e; }
