/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background: #031d2a;
  color: white;
  font-family: "myriad-pro", "Myriad Pro", "Myriad", "Avenir Next", sans-serif;
  font-size: 13pt; }
  @media (min-width: 76.5em) {
    body {
      font-size: 15pt; } }

h1, h2, h3, h4, h5 {
  color: #a8c618;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.25); }

h1 {
  font-size: 2.25em;
  margin-bottom: 1em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.75em;
  margin-bottom: 0.575em; }

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-shadow: none;
  color: #00b4ff; }

h5 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-shadow: none;
  color: #00b4ff; }

p {
  font-family: "minion-pro", "Minion Pro", "Minion", "Hoefler Text", "Georgia", serif;
  line-height: 1.4;
  margin-bottom: 1em; }

ul {
  line-height: 1.4;
  margin-bottom: 1em; }

a {
  text-decoration: none;
  color: #00b4ff; }
  a:hover {
    color: #a8c618; }

img {
  max-width: 100%;
  height: auto; }

.large {
  font-size: 1.33em;
  line-height: 1; }

p .fa, li .fa {
  line-height: 0.8; }

.form-group {
  margin-bottom: 1em; }
  .form-group .control-label {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.25em; }
  .form-group .form-control {
    font-family: "myriad-pro", "Myriad Pro", "Myriad", "Avenir Next", sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 0.5em 0.75em 0.4em;
    background: #031d2a;
    color: white;
    border: 1px solid #245167; }
  .form-group input.form-control {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5) inset; }
    .form-group input.form-control:focus, .form-group input.form-control:active {
      background: black; }
  .form-group select.form-control {
    box-shadow: 0 -0.5em 1em rgba(0, 0, 0, 0.5) inset; }

.button {
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-appearance: none;
  font-family: "myriad-pro", "Myriad Pro", "Myriad", "Avenir Next", sans-serif;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.8em;
  background: #031d2a;
  color: white;
  border: 0;
  line-height: 1;
  padding: 0.6em 2em 0.45em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5em; }
  .wf-active .button {
    padding: 0.6em 2em 0.6em; }
  .button:hover {
    background: #a8c618;
    color: white; }
  .button.button-primary {
    background: #00b4ff; }
    .button.button-primary:hover {
      background: #ff7e00; }
  .button.button-cta {
    background: #ff7e00; }
    .button.button-cta:hover {
      background: #00b4ff; }
  .button.button-normal {
    background: #a8c618; }
    .button.button-normal:hover {
      background: #00b4ff; }
  .button.button-disabled {
    background: #245167;
    color: #031d2a; }
    .button.button-disabled:hover {
      cursor: disabled; }

.nav {
  line-height: 1;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 48em) {
    .nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: left; } }
  .nav li {
    padding: 1em; }
    .nav li.home {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 0.5em 0; }
    @media (min-width: 48em) {
      .nav li:last-child {
        padding: 1em 0 1em 1em; } }
  .nav a {
    color: white;
    font-weight: bold;
    text-transform: uppercase; }
    .nav a:hover {
      color: #00b4ff; }

.nav-tree {
  font-size: 0.75em;
  line-height: 1.6; }
  .nav-tree li ul {
    margin: 0; }
  .nav-tree li li {
    padding-left: 1em; }
  .nav-tree li a {
    text-transform: uppercase;
    letter-spacing: 0.125em; }

.hero-home {
  position: relative;
  text-align: center;
  width: 100%;
  height: 90vh;
  min-height: 36.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: url(../images/home-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.33), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset; }
  @media (max-width: 48em) {
    .hero-home {
      padding: 2em 0; } }
  .hero-home:hover:after {
    bottom: 1em;
    opacity: 0.75; }
  .hero-home:after {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    content: "SCROLL FOR MORE";
    font-size: 0.75em;
    letter-spacing: 0.125em;
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0; }
  .hero-home .content {
    width: 100%;
    padding: 0 5%;
    text-align: center; }
  .hero-home .intro {
    margin: 0 auto 1em;
    font-size: 1.875em;
    font-style: italic;
    max-width: 22em; }
  .hero-home .button {
    font-size: 1.25em; }

.home-content {
  background: url(../images/topo-white.png) 50% 50% repeat #031d2a;
  background-size: auto;
  padding-bottom: 1em; }

.mission {
  overflow: hidden;
  *zoom: 1;
  padding: 2em 5% 1em;
  margin: 0 auto;
  max-width: 50em; }
  @media (min-width: 76.5em) {
    .mission {
      padding: 3em 5% 3em; } }
  .mission img {
    display: block;
    margin: 0 auto 1em;
    max-width: 6em; }
    @media (min-width: 48em) {
      .mission img {
        float: left;
        width: 30%;
        margin: 0 5%; } }
  @media (min-width: 48em) {
    .mission p {
      padding-top: 3em;
      margin-left: 10%; } }

.callouts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 3em; }
  @media (min-width: 48em) {
    .callouts {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0 5%;
      margin: 2em 0; } }
  .callouts .callout {
    text-align: center;
    margin-bottom: 2em;
    padding: 1em 5% 0; }
    .callouts .callout img {
      margin-bottom: 0.5em; }
    @media (min-width: 48em) {
      .callouts .callout {
        width: 33.3333%;
        padding: 0 1.5%; } }

.hero-page {
  position: relative;
  padding: 3em 5%;
  background: url(../images/home-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.33), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset; }
  @media (min-width: 48em) {
    .hero-page {
      padding: 3.5em 5%; } }
  @media (min-width: 76.5em) {
    .hero-page {
      padding: 4em 5%; } }
  @media (min-width: 114em) {
    .hero-page {
      padding: 7em 5%; } }
  .hero-page h2 {
    font-size: 2.25em;
    margin-bottom: 0.25em; }
    @media (min-width: 48em) {
      .hero-page h2 {
        font-size: 3.125em;
        text-shadow: 0 0.075em 0 rgba(0, 0, 0, 0.25); } }
    @media (min-width: 76.5em) {
      .hero-page h2 {
        margin-bottom: 0;
        font-size: 4em;
        text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.25); } }
  .hero-page .subhead {
    font-style: italic;
    margin: 0; }
    @media (min-width: 48em) {
      .hero-page .subhead {
        font-size: 1.125em; } }
    @media (min-width: 76.5em) {
      .hero-page .subhead {
        font-size: 1.25em;
        margin-top: 0.5em; } }
    @media (min-width: 114em) {
      .hero-page .subhead {
        font-size: 1.5em;
        margin-top: 1em;
        padding-left: 5%;
        max-width: 50%; } }

.page {
  background: url(../images/topo-gray.png) top center repeat #f2f2f2;
  padding: 0 5%; }

.page-content {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  background: white;
  color: #1e1e1e; }

.breadcrumbs {
  background: white; }

.breadcrumb-trail {
  display: none;
  background: #f2f2f2;
  font-size: 0.8em; }
  @media (min-width: 48em) {
    .breadcrumb-trail {
      display: inline-block; } }
  .breadcrumb-trail li {
    display: inline-block;
    margin: 0;
    padding: 0.3em 2em 0.2em 3em;
    position: relative; }
    .breadcrumb-trail li:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-width: 1em 1em 1em 1em;
      border-style: solid;
      border-color: transparent transparent transparent #f2f2f2;
      position: absolute;
      right: -2em;
      top: 0;
      z-index: 1; }
    .breadcrumb-trail li:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-width: 1em 1em 1em 1em;
      border-style: solid;
      border-color: transparent transparent transparent white;
      position: absolute;
      right: -2.2em;
      top: 0;
      z-index: 1; }
    .breadcrumb-trail li:last-child {
      background: white; }
      .breadcrumb-trail li:last-child:before, .breadcrumb-trail li:last-child:after {
        display: none; }

article {
  background: white;
  padding: 2em 5% 1em; }
  @media (min-width: 48em) {
    article {
      float: left;
      width: 66.666%; } }
  article p:first-child {
    font-size: 1.25em; }
    @media (min-width: 48em) {
      article p:first-child {
        font-size: 1.5em; } }
    @media (min-width: 76.5em) {
      article p:first-child {
        font-size: 1.625em; } }

figure {
  margin-bottom: 1em; }
  figure figcaption {
    font-family: "minion-pro", "Minion Pro", "Minion", "Hoefler Text", "Georgia", serif;
    font-style: italic;
    font-size: 0.9em;
    color: #686868;
    margin: 0.5em 0 0; }

aside {
  background: white;
  font-size: 0.8em;
  padding: 2em 5% 3em;
  border-top: 1px solid #CCC; }
  @media (min-width: 48em) {
    aside {
      float: right;
      width: 33.333333%;
      max-width: 25em;
      border-top: 0;
      padding: 1em 5% 3em;
      margin-top: 2em;
      border-left: 1px solid #CCC; } }
  aside section {
    margin-bottom: 3em; }
    aside section:last-child {
      margin-bottom: 0; }

.gallery-content {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  background: white;
  color: #1e1e1e; }

.gallery {
  margin-top: 1em; }

.gallery-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em; }
  @media (min-width: 48em) {
    .gallery-entry {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.gallery-entry-image {
  text-align: center; }
  @media (min-width: 48em) {
    .gallery-entry-image {
      width: 66.6666%; }
      .gallery-entry:nth-child(even) .gallery-entry-image {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
      .gallery-entry-image img {
        width: 100%; } }
  @media (min-width: 76.5em) {
    .gallery-entry-image {
      width: 50%; } }

.gallery-entry-description {
  padding: 0.5em 5% 0;
  font-style: italic; }
  @media (min-width: 48em) {
    .gallery-entry-description {
      padding: 10%; }
      .gallery-entry-description p {
        max-width: 20em; }
      .gallery-entry:nth-child(even) .gallery-entry-description {
        text-align: right; } }

footer[role=banner] {
  position: relative;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.66);
  padding: 2em 5% 1em;
  border-top: 0.5em solid #a8c618;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 48em) {
    footer[role=banner] {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 3em 5% 1em; } }
  footer[role=banner] a {
    color: white; }
    footer[role=banner] a:hover {
      color: #00b4ff; }
  footer[role=banner] .copyright {
    font-family: "myriad-pro", "Myriad Pro", "Myriad", "Avenir Next", sans-serif;
    font-size: 0.8em;
    margin: 2em 0;
    font-weight: bold; }
  footer[role=banner] .footer-section {
    margin-bottom: 1em; }
    footer[role=banner] .footer-section h5 img {
      max-width: 10em; }
    @media (min-width: 48em) {
      footer[role=banner] .footer-section {
        width: 33.3333%;
        padding: 3%; } }
